@tailwind base;
@tailwind components;
@tailwind utilities;

.menuIcon {
    @apply flex-shrink-0 w-3.5 h-3.5;
}

.itemActive {
    @apply bg-gray-200 !important;
}

.menuItem {
    @apply flex items-center text-sm font-medium p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700;
}

.yellowBadge {
    @apply grid place-content-center bg-yellow-200 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-yellow-900 dark:text-yellow-300;
}

.orangeBadge {
    @apply grid place-content-center bg-orange-200 text-orange-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-orange-900 dark:text-orange-300;
}

.purpleBadge {
    @apply grid place-content-center bg-purple-200 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-purple-900 dark:text-purple-300;
}

.redBadge {
    @apply grid place-content-center bg-red-200 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300;
}

.greenBadge {
    @apply grid place-content-center bg-green-200 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300;
}

.blueBadge {
    @apply grid place-content-center bg-blue-200 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300;
}

.grayBadge {
    @apply grid place-content-center bg-gray-200 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-900 dark:text-gray-300;
}

.primaryButton {
    @apply text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg px-3 py-1.5 text-xs text-center flex items-center dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700;
}

.secondaryButton {
    @apply px-3 py-1.5 text-xs font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700;
}

.toast {
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
    transform: translateX(100%);
}

.contenedor-scroll {
    overflow-y: auto;
    scrollbar-width: thin; /* Para navegadores que soporten este estilo */
}

/* Ocultar el scrollbar en Chrome, Safari y Edge */
.contenedor-scroll::-webkit-scrollbar {
    width: 8px; /* Cambia a 0 para ocultarlo */
}

.contenedor-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Opcional: Estilo del "dedo" */
    border-radius: 4px;
}
