@tailwind base;
@tailwind components;
@tailwind utilities;

.menuIcon {
    @apply flex-shrink-0 w-3.5 h-3.5;
}

.itemActive {
    @apply bg-gray-200 !important;
}

.menuItem {
    @apply flex items-center text-sm font-medium p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700;
}

.toast {
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
    transform: translateX(100%);
}

.contenedor-scroll {
    overflow-y: auto;
    scrollbar-width: thin; /* Para navegadores que soporten este estilo */
}

/* Ocultar el scrollbar en Chrome, Safari y Edge */
.contenedor-scroll::-webkit-scrollbar {
    width: 8px; /* Cambia a 0 para ocultarlo */
}

.contenedor-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Opcional: Estilo del "dedo" */
    border-radius: 4px;
}
